.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* Stilizacija search containera */
.search-container {
    display: flex; /* Koristimo fleksibilni prikaz kako bismo omogućili raspored elemenata */
    align-items: center; /* Centriramo elemente po vertikali */
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Stilizacija unosa */
  .search-inner input {
    flex: 1; /* Rastegnemo input polje kako bi zauzelo preostali prostor */
    padding: 10px;
    font-size: 16px;
    border-radius: 20px; /* Dodajemo radius */
    border: 2px solid #ccc;
    box-sizing: border-box; /* Da padding ne utječe na širinu inputa */
  }
  
  .search-inner input:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
  /* Stilizacija search buttona */
  .search-button {
    background-color: dodgerblue;
    color: #fff;
    border: 2px solid dodgerblue; /* Dodajemo obrub */
    padding: 10px 20px;
    border-radius: 20px; /* Dodajemo radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Dodajemo sjenu */
    margin-left: 10px; /* Dodajemo malo razmaka između inputa i gumba */
  }
  
  .search-button:hover {
    background-color: #007bbf;
    border-color: #007bbf; /* Promijenimo boju obruba prilikom hovera */
  }
  /* Stilizacija dropdown containera */

  /* Stilizacija dropdown containera */
 /* Stilizacija pojedinačnog elementa dropdown liste */
 .dropdown-row {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-row:hover {
    background-color: #f0f0f0;
  }
  
  