
  /* Ostatak CSS-a ostaje isti */
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333; /* Boja pozadine */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sjena */
    padding: 10px 0; /* Prostor između stavki */
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff; /* Boja teksta */
    padding: 10px; /* Prostor oko teksta */
    border-radius: 5px; /* Zaobljeni rubovi */
  }
  
  .nav-link:hover {
    background-color: #555; /* Boja pozadine prilikom hovera */
  }
  
  .nav-link:hover,
  .nav-link:focus {
    outline: none; /* Ukloni podvučenost kad je link u fokusu */
  }
  
  .nav-link:active {
    transform: translateY(1px); /* Lagana animacija prilikom klika */
  }
  