/* Stilizacija kontejnera za tabove */
.tab-list {
    position: fixed;
    display: flex;
    justify-content: space-around; /* Raspoređivanje tabova ravnomjerno */
    background-color: #f0f0f0; /* Boja pozadine tabova */
    top: 0px;
    padding: 10px 0; /* Dodavanje prostora iznad i ispod tabova */
  }
  
  /* Stilizacija pojedinačnog taba */
  .tab {
    padding: 10px 20px; /* Dodavanje prostora oko teksta u tabu */
    cursor: pointer; /* Promjena kursora na pokazivač prilikom klika */
  }
  
  /* Stilizacija kontejnera za grafikone */
  .graph-container {
    display: fixed;
    margin: auto auto;
    align-items: center;
    justify-content: center;

  }
  
  /* Stilizacija pojedinačnog grafikona */
  .graph-panel {
    position: fixed;
    margin:auto;
    width: 400px; /* Širina grafikona */
    height: 300px; /* Visina grafikona */
  }
  